.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
   
      "width" 100;
  }
  .nav-font{
    font-weight: 800;
    font-size:45px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 05px 80px 0px 226px;
}


.nav-style  {
    display: flex;
}
nav ul{
    display: flex;
    align-items: center;
}
/* Should be shared */
.primary-color{
    color: #FD6E0A;
}
.secondary-bg{
    background-color:#FFF8F3 ;
}
.dark-3{
    color:#757575 ;
    font-size: 18px;
}
/* Shared button  */
.btn-primary{
    color:white;
    font-size: 20px;
    background-color: #FD6E0A;
   border-radius: 5px;
    border: none;
    font-weight: bold;
    width: 150px;
    height: 64px;
   
}
.dark-2{
    color: #474747;
    font-size: 20px;
}
nav ul li {
    list-style: none;
    margin-right: 48px;
}
nav a {
    text-decoration: none;
}
/* Baner section */
.baner-container{
    display: flex;
    justify-content: space-between;  
    margin:0 5px 0 226px; 
    padding: 0%;
}
.baner h4 { font-size: 45px;
    font-weight: 700;
    }
    .baner h1{
        font-size: 85px;
        font-weight: bold;
    }
    .baner p{
        font-size: 18px;
        font-weight: regular ;
    }
/* Picture of man */
#ariful-pic{
    height: 676;
    width: 584;
}
/* header image */
.header-image{
    background-image: url('../images/developer.png'),url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right ;
}
.main{ margin-top: 130;
    max-width: 1140;
   
   margin: 0 auto;
}


.about{

   
  border-radius: 10px;
  margin: 130px;
  text-align: center;
  padding:131px 156px  ;

} 
.primary-title{
    font-weight: bold;
    font-size: 35px;
}
/* item fo about section */
.about-items{
    display: flex;  
    justify-content: space-around; 
}
.about-description{
    font-size: 18px;    
}
.title-description{
    font-weight: 600;
}




